node_modules/
db/
!creator/

static/

.npmrc

docs/
examples/

.env

temp*/

build/tests/

client/
tests/

create-test-temp/

build-web/HotStaqTests.js

./HotSite.json
./*.config.js

.nyc_output
.git
.circleci
.vscode
