HTTP_PORT=3123

MARIADB_VERSION=10.10
MARIADB_DB_PORT=3310
DATABASE_SERVER=localhost
DATABASE_PORT=3310
DATABASE_USERNAME=5NKVBAt7OrzrumQyQVs
DATABASE_PASSWORD=1BBrZbKYRUM7oiMA5oY
DATABASE_SCHEMA=hotstaq

INFLUXDB_VERSION=2.0
INFLUX_DB_PORT=8091
INFLUX_DATABASE_SERVER=http://localhost:8091
INFLUX_DATABASE_USERNAME=5NKVBAt7OrzrumQyQVs
INFLUX_DATABASE_PASSWORD=1BBrZbKYRUM7oiMA5oY
INFLUX_DATABASE_ORG=freelight
INFLUX_DATABASE_TOKEN=Ife0HerzHrloa32PsE4yg4ixA6j7tZFSMRhvBg7akUK2e
INFLUX_DATABASE_SCHEMA=hotstaq

SELENIUM_VERSION=latest
SELENIUM_CHROME_PORT=4444
TESTING_DEVTOOLS=0
TESTING_REMOTE_SERVER=http://localhost:4444
SELENIUM_REMOTE_SERVER=http://localhost:4444