HTTP_PORT=3123
DATABASE_SERVER=127.0.0.1
DATABASE_PORT=3310
DATABASE_USERNAME=5NKVBAt7OrzrumQyQVs
DATABASE_PASSWORD=1BBrZbKYRUM7oiMA5oY
DATABASE_SCHEMA=hotstaq
INFLUX_DATABASE_SERVER=http://127.0.0.1:8091
INFLUX_DATABASE_USERNAME=5NKVBAt7OrzrumQyQVs
INFLUX_DATABASE_PASSWORD=1BBrZbKYRUM7oiMA5oY
INFLUX_DATABASE_ORG=freelight
INFLUX_DATABASE_TOKEN=Ife0HerzHrloa32PsE4yg4ixA6j7tZFSMRhvBg7akUK2e
INFLUX_DATABASE_SCHEMA=hotstaq
TESTING_DEVTOOLS=1